#about
  %h1 Проект RPoint
  %p Получить образование через интернет в наши дни стало возможно. Но качество оставляет желать лучшего. Данный проект призван бороться с синтетическими тестами. Все задания проверяются людьми и на основе их выводов ставтся отметки.
