#index
  %h1 Главная
  %p Первое время ни чего толкового здесь не будет, я имею ввиду главную страницу. После создания пары первых базовых курсов возможно здесь появятся новости или еще что нибудь подобное.
  %p Ради развлекухи и некого фидбека добавлю возможность комментировать эту страницу. Так что не стесняясь высказывайте свои пожелания и предложения.
  %p Еще. Я знаю, что я очень не грамотен. Так что если кто-то увидел ошибку на страницах этого сайта, пишите о ней здесь в комментариях.
  = comments
