#content
  %h2 Список прав
  %ul
    - @permissions.each do |permission|
      %li
        %a{ :href => '/permissions/' + permission.event }= permission.event
        %a{ :href => '/permissions/' + permission.event + '/edit' } e
        %a{ :href => '/permissions/' + permission.event + '/del' } x
      %span= permission.description
  %ul
    - @users.each do |user|
      %li
        %a{ :href => '/permissions/user/' + user.login }= user.login
  %form{ :name => 'add', :method => 'post', :action => '/permissions'}
    %ul
      %li
        %label{ :for => 'event' } Событие
        %input{ :name => 'event', :type => 'text' }
      %li
        %label{ :for => 'description' } Описание
        %input{ :name => 'description', :type => 'text'}
      %li.submit
        %input{ :type => 'submit', :value => 'Добавить'}
        %a{ :href => '/permissions' } Отмена
