<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>


	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Ordered List // We Make The Web Beautifully Simple</title>

	<link href="css/common.css" rel="stylesheet" type="text/css">

	<!--[if IE 6]><link href="/stylesheets/ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
	
</head>
<body id="body_section_2">
	<div id="wrapper">
		<div id="header">
			<h3><a href="http://orderedlist.com/">Ordered List</a></h3>
			<ul id="nav">
				<li id="nav_hom"><a href="http://orderedlist.com/">Home</a></li>
				<li id="nav_ser"><a href="http://orderedlist.com/services/">Services</a></li>
				<li id="nav_wor"><a href="http://orderedlist.com/portfolio/">Work</a></li>
				<li id="nav_art"><a href="http://orderedlist.com/archive/">Articles</a></li>
				<li id="nav_abo"><a href="http://orderedlist.com/about/">About</a></li>
				<li id="nav_con"><a href="http://orderedlist.com/contact/">Contact</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="primary">
	
		<div id="atmail" class="work alpha odd">
			<div class="work_inner">
				<div class="story">
    <h2>Atmail Client</h2>
    <p><a href="http://www.atmail.com/">Atmail</a>
came to us wanting a fresh new take on their webmail client. We
provided design and templates to get their team rolling. This windowed
application style design has proven to be both functional and extremely
usable.</p>
    <h3>Our Involvement</h3>
    <p>Design, <span class="caps">CSS</span> &amp; <span class="caps">HTML</span> templates.</p>
</div>

<div class="previews">
  <div style="" id="atmail_client">
    <a href="http://www.atmail.com/"><img src="images/atmail_client.jpg" alt="Atmail Client"></a>
  </div>
  <div style="display: none;" id="atmail_settings">
    <a href="http://www.atmail.com/"><img src="images/atmail_settings.jpg" alt="Atmail Settings Page"></a>
  </div>

  <ul id="atmail_previews">
      <li class="active"><a href="#atmail_client"><img src="images/atmail_client_preview.jpg" alt="Atmail Client"></a></li>
      <li class=""><a href="#atmail_settings"><img src="images/atmail_settings_preview.jpg" alt="Atmail Settings Page"></a></li>
  </ul>
</div>
			</div>
		</div>	
	
		<div id="dealerflow" class="work even">
			<div class="work_inner">
				<div class="story">
	<h2>Dealerflow</h2>
	<p><a href="http://www.dealerflow.com/">Dealerflow</a>
needed a website that was as impressive as their web application
platform for auto dealers. Since we also worked extensively on the app,
we had a great idea of how to showcase it.</p>
	<h3>Our Involvement</h3>
	<p>Design, CSS, XHTML, Templates, Mephisto Setup and Theme.</p>
</div>

<div class="previews">
  <div style="" id="dealerflow_home_page">
    <a href="http://www.dealerflow.com/"><img src="images/dealerflow_home.jpg" alt="Dealerflow"></a>
  </div>
  <div style="display: none;" id="dealerflow_features_page">
    <a href="http://www.dealerflow.com/"><img src="images/dealerflow_features.jpg" alt="Dealerflow Features"></a>
  </div>
  <div style="display: none;" id="dealerflow_pricing_page">
    <a href="http://www.dealerflow.com/"><img src="images/dealerflow_pricing.jpg" alt="Dealerflow Pricing"></a>
  </div>

  <ul id="dealerflow_previews">
  	<li class="active"><a href="#dealerflow_home_page"><img src="images/dealerflow_home_thumb.jpg" alt="Dealerflow Home Page"></a></li>
  	<li class=""><a href="#dealerflow_features_page"><img src="images/dealerflow_features_thumb.jpg" alt="Dealerflow Features Page"></a></li>
  	<li class=""><a href="#dealerflow_pricing_page"><img src="images/dealerflow_pricing_thumb.jpg" alt="Dealerflow Pricing Page"></a></li>
  </ul>
</div>
			</div>
		</div>	
	
		<div id="slicehost" class="work odd">
			<div class="work_inner">
				<div class="story">
	<h2>Slicehost</h2>
	<p><a href="http://www.slicehost.com/">Slicehost</a>
was looking for a new look to match their amazing services. As
long-time customers, we were very pleased to help make their site look
more professional, fun, and inviting. The results were well recieved by
Slicehost and their customers.
</p>
	<h3>Our Involvement</h3>
	<p>Design, CSS, XHTML, Templates.</p>
</div>

<div class="previews">
	<div style="" id="slicehost_home_page">
		<a href="http://www.slicehost.com/"><img src="images/slicehost_large.jpg" alt="Slicehost"></a>
	</div>
	<div style="display: none;" id="slicehost_blog_page">
		<a href="http://www.slicehost.com/"><img src="images/slicehost_blog.jpg" alt="Slicehost"></a>
	</div>
	<div style="display: none;" id="slicehost_old_design">
		<a href="http://www.slicehost.com/"><img src="images/slicehost_old.jpg" alt="Slicehost"></a>
	</div>
	<ul id="slicehost_previews">
		<li class="active"><a href="#slicehost_home_page"><img src="images/slicehost_thumb_1.jpg" alt="Slicehost Home Page"></a></li>
		<li class=""><a href="#slicehost_blog_page"><img src="images/slicehost_blog_thumb.jpg" alt="Slicehost Blog Page"></a></li>
		<li class=""><a href="#slicehost_old_design"><img src="images/slicehost_old_thumb.jpg" alt="Previous Slicehost Design"></a></li>
	</ul>
</div>
			</div>
		</div>	
	
		<div id="perfectshare" class="work even">
			<div class="work_inner">
				<div class="story">
	<h2>PerfectShare</h2>
	<p><a href="http://perfectshare.net/">PerfectShare</a>
needed a new look for their marketing website to set them apart from
the crowded file-sharing web space. Bright, bold colors help grab
attention, while a sleek and minimal layout makes the information easy
to digest.</p>
	<h3>Our Involvement</h3>
	<p>Web Design, CSS and XHTML Templates.</p>
</div>

<div class="previews">
	<div style="" id="perfectshare_home_page">
		<a href="http://perfectshare.net/"><img src="images/perfectshare_home.jpg" alt="PerfectShare"></a>
	</div>
	<div style="display: none;" id="perfectshare_signup_page">
		<a href="http://perfectshare.net/"><img src="images/perfectshare_signup.jpg" alt="PerfectShare"></a>
	</div>
	<ul id="perfectshare_previews">
		<li class="active"><a href="#perfectshare_home_page"><img src="images/perfectshare_home_thumb.jpg" alt="PerfectShare"></a></li>
		<li class=""><a href="#perfectshare_signup_page"><img src="images/perfectshare_signup_thumb.jpg" alt="PerfectShare"></a></li>
	</ul>
</div>
			</div>
		</div>	
	
		<div id="pfdebate-llc" class="work odd">
			<div class="work_inner">
				<div class="story">
	<h2>PFDebate LLC.</h2>
	<p><a href="http://pfdebate.com/">PFDebate</a>
wanted a way to tie all their different content together from multiple
sites. An updated logo, new branding, and a landing page utilizing a
few of their RSS feeds creates a great starting point.</p>
	<h3>Our Involvement</h3>
	<p>Logo, Web Design, Branding, CSS, XHTML, and PHP.</p>
</div>

<div class="previews">
	<div id="perfectshare_home_page">
		<a href="http://pfdebate.com/"><img src="images/pfdebate_landing.jpg" alt="PFDebate LLC."></a>
	</div>
</div>
			</div>
		</div>	
	
		<div id="high-context-consulting" class="work even">
			<div class="work_inner">
				<div class="story">
	<h2>High Context Consulting</h2>
	<p><a href="http://highcontext.com/">High Context</a>
needed a new design to refresh their content. A new layout, templates,
and WordPress theme makes this site clear, meaningful, and effective.</p>
	<h3>Our Involvement</h3>
	<p>Web Design, CSS, XHTML, WordPress.</p>
</div>

<div class="previews">
	<div id="hcc_home_page">
		<a href="http://highcontext.com/"><img src="images/hcc_home.jpg" alt="High Context Consulting"></a>
	</div>
</div>
			</div>
		</div>	
	
		<div id="notre-dame-forum" class="work odd">
			<div class="work_inner">
				<div class="story">
	<h2>Notre Dame Forum</h2>
	<p>The <a href="http://forum.nd.edu/">Notre Dame Forum website</a> delivers important information, as well as streaming/archived video relating to the annual topic.</p>
	<h3>Our Involvement</h3>
	<p>Information Architecture, CSS, Rails Development, Video Processing, Design Ideas, Live Event Updates.</p>
</div>

<div class="previews">
	<div style="" id="forum_home_page">
		<a href="http://forum2006.nd.edu/"><img src="images/forum_home.jpg" alt="Notre Dame Forum"></a>
	</div>
	<div style="display: none;" id="forum_sub_page">
		<a href="http://forum2006.nd.edu/"><img src="images/forum_sub.jpg" alt="Notre Dame Forum"></a>
	</div>
	<ul id="forum_previews">
		<li class="active"><a href="#forum_home_page"><img src="images/forum_home_thumb.jpg" alt="Notre Dame Forum"></a></li>
		<li class=""><a href="#forum_sub_page"><img src="images/forum_sub_thumb.jpg" alt="Notre Dame Forum"></a></li>
	</ul>
</div>
			</div>
		</div>	
	
		<div id="wordpress-tiger-admin" class="work even">
			<div class="work_inner">
				<div class="story">
	<h2>WordPress Tiger Administration</h2>
	<p>I
decided to spruce up the WordPress administration panel. No markup is
modified to complete the design. The redesign works by simply
installing and activating a plugin. Simple.</p>
	<h3>Our Involvement</h3>
	<p><a href="http://orderedlist.com/wordpress-plugins/wp-tiger-administration/" class="download">Download the Plugin</a></p>
</div>

<div class="previews">
	<div style="" id="tiger_dashboard">
		<a href="http://orderedlist.com/wordpress-plugins/wp-tiger-administration/"><img src="images/tiger_dashboard.jpg" alt="WordPress Tiger Administration"></a>
	</div>
	<div style="display: none;" id="tiger_plugins">
		<a href="http://orderedlist.com/wordpress-plugins/wp-tiger-administration/"><img src="images/tiger_plugins.jpg" alt="WordPress Tiger Administration"></a>
	</div>
	<div style="display: none;" id="tiger_write">
		<a href="http://orderedlist.com/wordpress-plugins/wp-tiger-administration/"><img src="images/tiger_write.jpg" alt="WordPress Tiger Administration"></a>
	</div>
	<ul id="tiger_previews">
		<li class="active"><a href="#tiger_dashboard"><img src="images/tiger_dashboard_thumb.jpg" alt="WordPress Tiger Administration Dashboard"></a></li>
		<li class=""><a href="#tiger_plugins"><img src="images/tiger_plugins_thumb.jpg" alt="WordPress Tiger Administration Plugins Page"></a></li>
		<li class=""><a href="#tiger_write"><img src="images/tiger_plugins_thumb.jpg" alt="WordPress Tiger Administration Post Creation"></a></li>
	</ul>
</div>
			</div>
		</div>	
	
		<div id="notre-dame-college-of-arts-and-letters" class="work omega odd">
			<div class="work_inner">
				<div class="story">
	<h2>Notre Dame College of Arts and Letters</h2>
	<p>The <a href="http://al.nd.edu/">Arts and Letters website</a> has exceeded the College's expectations.  It even won a Macromedia Site of the Day award.</p>
	<h3>Our Involvement</h3>
	<p>XHTML, CSS, ColdFusion Programming, Oracle DB Architecture, Design Ideas, Training and Presentations.</p>
</div>

<div class="previews">
	<div style="" id="al_home">
		<a href="http://al.nd.edu/"><img src="images/al_home.jpg" title="Notre Dame College of Arts and Letters" alt="Notre Dame College of Arts and Letters"></a>
	</div>
	<div style="display: none;" id="al_sub">
		<a href="http://al.nd.edu/"><img src="images/al_sub.jpg" title="Notre Dame College of Arts and Letters" alt="Notre Dame College of Arts and Letters"></a>
	</div>
	<ul id="al_previews">
		<li class="active"><a href="#al_home"><img src="images/al_home_thumb.jpg" alt="Notre Dame College of Arts and Letters Home Page"></a></li>
		<li class=""><a href="#al_sub"><img src="images/al_sub_thumb.jpg" alt="Notre Dame College of Arts and Letters Sub Page"></a></li>
	</ul>
</div>
			</div>
		</div>	
	
</div>
		</div>
		<div id="footer">
			<p id="copyright">Copyright © 2004-2009 Ordered List Inc. ISSN# 1555-7928. All Rights Reserved.</p>
			
		</div>
	</div>
</body></html>
