<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>


	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title> Archives // Ordered List // We Make The Web Beautifully Simple</title>
	<link href="css/common.css" rel="stylesheet" type="text/css">

	<!--[if IE 6]><link href="/stylesheets/ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head><body id="body_section_archives">
	<div id="wrapper">
		<div id="header">
			<h3><a href="http://orderedlist.com/">Ordered List</a></h3>
			<ul id="nav">
				<li id="nav_hom"><a href="http://orderedlist.com/">Home</a></li>
				<li id="nav_ser"><a href="http://orderedlist.com/services/">Services</a></li>
				<li id="nav_wor"><a href="http://orderedlist.com/portfolio/">Work</a></li>
				<li id="nav_art"><a href="http://orderedlist.com/archive/">Articles</a></li>
				<li id="nav_abo"><a href="http://orderedlist.com/about/">About</a></li>
				<li id="nav_con"><a href="http://orderedlist.com/contact/">Contact</a></li>
			</ul>
		</div>
		<div id="content">
			
<div id="primary" class="wrapper">
	<div id="archives" class="primary">
		<h1>We’ve Been Doing This For Years</h1>
		<form method="get" id="searchform" action="#">
			<div>
				<label for="q">Filter:</label>
				<input value="" name="q" id="q" type="text">
			</div>
		</form>
		
		<h2>All Articles By Date</h2>
		
		
		<ul>
			
				<li style="">
					<small>September 20, 2009</small>
					<a href="http://orderedlist.com/articles/thining-text-in-safari-under-snow-leopard">Thin Text in Safari with Snow Leopard</a> 
					<span>design safari thin type </span>
				</li>
			
				<li style="">
					<small>September 13, 2009</small>
					<a href="http://orderedlist.com/articles/building-evented-single-page-applications">Building Evented Single Page Applications</a> 
					<span>conferences jquery presentations </span>
				</li>
			
				<li style="">
					<small>August 07, 2009</small>
					<a href="http://orderedlist.com/articles/atmail-launched">Atmail Launched</a> 
					<span>launch portfolio </span>
				</li>
			
				<li style="">
					<small>July 18, 2009</small>
					<a href="http://orderedlist.com/articles/fun-with-functions-in-javascript">Fun With Functions in JavaScript</a> 
					<span>javascript jquery </span>
				</li>
			
				<li style="">
					<small>July 12, 2009</small>
					<a href="http://orderedlist.com/articles/jquery-evented-programming-primer">jQuery Evented Programming Primer</a> 
					<span>events javascript jquery </span>
				</li>
			
				<li style="">
					<small>March 27, 2009</small>
					<a href="http://orderedlist.com/articles/google-ajax-feeds-fun">Google Ajax Feeds Fun</a> 
					<span>ajax google javascript </span>
				</li>
			
				<li style="">
					<small>March 02, 2009</small>
					<a href="http://orderedlist.com/articles/harmony-update">Harmony Update</a> 
					<span>harmony </span>
				</li>
			
				<li style="">
					<small>March 02, 2009</small>
					<a href="http://orderedlist.com/articles/is-the-web-recession-proof">Is The Web Recession Proof?</a> 
					<span>business </span>
				</li>
			
				<li style="">
					<small>January 12, 2009</small>
					<a href="http://orderedlist.com/articles/another-blawg-enters-the-sphere">Another Blawg Enters The Sphere</a> 
					<span>blogging launch </span>
				</li>
			
				<li style="">
					<small>January 11, 2009</small>
					<a href="http://orderedlist.com/articles/structural-tags-in-html5">Structural Tags in HTML5</a> 
					<span></span>
				</li>
			
				<li style="">
					<small>January 10, 2009</small>
					<a href="http://orderedlist.com/articles/getting-started-with-html5">Getting Started with HTML5</a> 
					<span>doctype html html5 </span>
				</li>
			
				<li style="">
					<small>January 08, 2009</small>
					<a href="http://orderedlist.com/articles/getting-topical">Getting Topical</a> 
					<span>monthly topics writing </span>
				</li>
			
				<li style="">
					<small>January 05, 2009</small>
					<a href="http://orderedlist.com/articles/harmony-theme-management">Harmony: Theme Management</a> 
					<span>harmony </span>
				</li>
			
				<li style="">
					<small>October 24, 2008</small>
					<a href="http://orderedlist.com/articles/yardvote">YardVote</a> 
					<span>fun interface politics rails </span>
				</li>
			
				<li style="">
					<small>October 16, 2008</small>
					<a href="http://orderedlist.com/articles/scannability-equals-profit">Scannability Equals Profit</a> 
					<span>design interface </span>
				</li>
			
				<li style="">
					<small>October 11, 2008</small>
					<a href="http://orderedlist.com/articles/ordered-list-on-the-road">Ordered List on the Road</a> 
					<span>conferences traveling workshops </span>
				</li>
			
				<li style="">
					<small>October 09, 2008</small>
					<a href="http://orderedlist.com/articles/hello-old-friend">Hello Old Friend</a> 
					<span>css deprecation fonts yahoo </span>
				</li>
			
				<li style="">
					<small>September 16, 2008</small>
					<a href="http://orderedlist.com/articles/harmony-user-management">Harmony: User Management</a> 
					<span>harmony </span>
				</li>
			
				<li style="">
					<small>September 04, 2008</small>
					<a href="http://orderedlist.com/articles/fancyzoom-meet-jquery">FancyZoom meet jQuery</a> 
					<span>fancyzoom interaction jquery </span>
				</li>
			
				<li style="">
					<small>September 02, 2008</small>
					<a href="http://orderedlist.com/articles/fancyzoom-meet-prototype">FancyZoom Meet Prototype</a> 
					<span>interaction javascript prototype </span>
				</li>
			
				<li style="">
					<small>September 01, 2008</small>
					<a href="http://orderedlist.com/articles/harmony-signup-and-cost">Harmony: Signup and Cost</a> 
					<span>harmony pricing signup </span>
				</li>
			
				<li style="">
					<small>August 22, 2008</small>
					<a href="http://orderedlist.com/articles/introducing-harmonious-fridays">Introducing Harmonious Fridays</a> 
					<span>content management harmony </span>
				</li>
			
				<li style="">
					<small>August 22, 2008</small>
					<a href="http://orderedlist.com/articles/content-management-survey-results">Content Management Survey Results</a> 
					<span>content management graphs results survey </span>
				</li>
			
				<li style="">
					<small>July 07, 2008</small>
					<a href="http://orderedlist.com/articles/live-search-with-quicksilver-style-for-jquery">Live Search with QuickSilver Style (for jQuery)</a> 
					<span>interface javascript jquery </span>
				</li>
			
				<li style="">
					<small>July 02, 2008</small>
					<a href="http://orderedlist.com/articles/your-thoughts-on-content-management">Your Thoughts on Content Management</a> 
					<span>content management surveys </span>
				</li>
			
				<li style="">
					<small>June 23, 2008</small>
					<a href="http://orderedlist.com/articles/live-search-with-quicksilver-style">Live Search with Quicksilver Style</a> 
					<span>interaction javascript prototype search </span>
				</li>
			
				<li style="">
					<small>June 19, 2008</small>
					<a href="http://orderedlist.com/articles/the-well-designed-web">The Well-Designed Web</a> 
					<span>business css design development </span>
				</li>
			
				<li style="">
					<small>June 04, 2008</small>
					<a href="http://orderedlist.com/articles/welcome-john-nunemaker">Welcome John Nunemaker</a> 
					<span>business john orderedlist partner </span>
				</li>
			
				<li style="">
					<small>April 09, 2008</small>
					<a href="http://orderedlist.com/articles/sidebar-creative-the-next-steps">Sidebar Creative: The Next Steps</a> 
					<span>applications redesign sidebar training workshops </span>
				</li>
			
				<li style="">
					<small>January 10, 2008</small>
					<a href="http://orderedlist.com/articles/the-web-desktop-divide">The Web/Desktop Divide</a> 
					<span>browsers desktop rant </span>
				</li>
			
				<li style="">
					<small>January 06, 2008</small>
					<a href="http://orderedlist.com/articles/2007-in-review">2007 in Review</a> 
					<span>family personal professional review </span>
				</li>
			
				<li style="">
					<small>November 14, 2007</small>
					<a href="http://orderedlist.com/articles/don-t-complicate-the-solution">Don't Complicate the Solution</a> 
					<span>problems simple software solutions </span>
				</li>
			
				<li style="">
					<small>September 09, 2007</small>
					<a href="http://orderedlist.com/articles/blog-to-business">Blog to Business</a> 
					<span>blog business design launch </span>
				</li>
			
				<li style="">
					<small>July 12, 2007</small>
					<a href="http://orderedlist.com/articles/single-line-css">Single Line CSS</a> 
					<span>css tips </span>
				</li>
			
				<li style="">
					<small>July 03, 2007</small>
					<a href="http://orderedlist.com/articles/comments-work-again">Comments Work Again</a> 
					<span></span>
				</li>
			
				<li style="">
					<small>July 02, 2007</small>
					<a href="http://orderedlist.com/articles/the-iphone-effect">The iPhone Effect</a> 
					<span>apple iphone user interface </span>
				</li>
			
				<li style="">
					<small>June 03, 2007</small>
					<a href="http://orderedlist.com/articles/greek-blogger-camp">Greek Blogger Camp</a> 
					<span>blogging greece speaking </span>
				</li>
			
				<li style="">
					<small>May 04, 2007</small>
					<a href="http://orderedlist.com/articles/feedburner-feedsmith">FeedBurner FeedSmith</a> 
					<span></span>
				</li>
			
				<li style="">
					<small>April 19, 2007</small>
					<a href="http://orderedlist.com/articles/another-download-counter-update">Download Counter Update 1.3</a> 
					<span>download counter mint pepper update </span>
				</li>
			
				<li style="">
					<small>April 01, 2007</small>
					<a href="http://orderedlist.com/articles/branding-reworked">Branding Reworked</a> 
					<span>branding logo </span>
				</li>
			
				<li style="">
					<small>March 22, 2007</small>
					<a href="http://orderedlist.com/articles/productivity-and-fascination">Productivity and Fascination</a> 
					<span></span>
				</li>
			
				<li style="">
					<small>March 20, 2007</small>
					<a href="http://orderedlist.com/articles/passing-the-torch">Passing the Torch</a> 
					<span>admin tiger wordpress </span>
				</li>
			
				<li style="">
					<small>March 14, 2007</small>
					<a href="http://orderedlist.com/articles/goodbye-austin">Goodbye Austin</a> 
					<span>austin sxswi2007 </span>
				</li>
			
				<li style="">
					<small>February 16, 2007</small>
					<a href="http://orderedlist.com/articles/ordered-shirts">Ordered Shirts</a> 
					<span></span>
				</li>
			
				<li style="">
					<small>January 25, 2007</small>
					<a href="http://orderedlist.com/articles/sidebar-creative">Sidebar Creative</a> 
					<span>sidebar </span>
				</li>
			
				<li style="">
					<small>January 15, 2007</small>
					<a href="http://orderedlist.com/articles/building-the-modern-web">Building the Modern Web</a> 
					<span>notre dame process teaching </span>
				</li>
			
				<li style="">
					<small>January 04, 2007</small>
					<a href="http://orderedlist.com/articles/open-for-business">Open for Business</a> 
					<span>business orderedlist </span>
				</li>
			
				<li style="">
					<small>January 02, 2007</small>
					<a href="http://orderedlist.com/articles/the-art-and-science-of-css">The Art and Science of CSS</a> 
					<span>book css </span>
				</li>
			
				<li style="">
					<small>December 13, 2006</small>
					<a href="http://orderedlist.com/articles/wordpress-tiger-administration-v3-0">WP Tiger Administration v3.0</a> 
					<span>launch plugin tiger admin wordpress </span>
				</li>
			
				<li style="">
					<small>December 13, 2006</small>
					<a href="http://orderedlist.com/articles/cleaning-house">Cleaning House</a> 
					<span>launch </span>
				</li>
			
				<li style="">
					<small>November 29, 2006</small>
					<a href="http://orderedlist.com/articles/tiger-admin-3-0-beta-testing">Tiger Admin 3.0 Beta Testing</a> 
					<span>beta design wordpress admin </span>
				</li>
			
				<li style="">
					<small>November 26, 2006</small>
					<a href="http://orderedlist.com/articles/rails-and-mvc">Rails and MVC</a> 
					<span>development mvc rails semantics web standards </span>
				</li>
			
				<li style="">
					<small>November 16, 2006</small>
					<a href="http://orderedlist.com/articles/updates-and-more">Updates and More</a> 
					<span>blogging feedburner jackson plugin </span>
				</li>
			
				<li style="">
					<small>September 08, 2006</small>
					<a href="http://orderedlist.com/articles/feedburner-plugin-v2-1-released">FeedBurner Plugin v2.1 Released</a> 
					<span>feedburner plugin wordpress </span>
				</li>
			
				<li style="">
					<small>September 06, 2006</small>
					<a href="http://orderedlist.com/articles/the-global-health-crisis">The Global Health Crisis</a> 
					<span>forum launch notre dame rails </span>
				</li>
			
				<li style="">
					<small>August 22, 2006</small>
					<a href="http://orderedlist.com/articles/wp-feedburner-v2-1-beta">WP FeedBurner v2.1 Beta</a> 
					<span>beta feedburner plugin wordpress </span>
				</li>
			
				<li style="">
					<small>August 07, 2006</small>
					<a href="http://orderedlist.com/articles/web-development-and-information-technology">Web Development and Information Technology</a> 
					<span>business development marketing technology </span>
				</li>
			
				<li style="">
					<small>June 02, 2006</small>
					<a href="http://orderedlist.com/articles/on-becoming-a-dad">On Becoming a Dad</a> 
					<span>baby jackson parenting </span>
				</li>
			
				<li style="">
					<small>May 18, 2006</small>
					<a href="http://orderedlist.com/articles/tiger-admin-and-shuttle">Tiger Admin and Shuttle</a> 
					<span>design shuttle wordpress wordpress admin </span>
				</li>
			
				<li style="">
					<small>April 27, 2006</small>
					<a href="http://orderedlist.com/articles/staying-small-in-a-big-place-part-1">Staying Small in a Big Place: Part 1</a> 
					<span>business clients frustration process work </span>
				</li>
			
				<li style="">
					<small>April 12, 2006</small>
					<a href="http://orderedlist.com/articles/wasp-edutf-interview">WaSP eduTF Interview</a> 
					<span>interview notre dame wasp web standards </span>
				</li>
			
				<li style="">
					<small>April 03, 2006</small>
					<a href="http://orderedlist.com/articles/planned-parenthood">Planned Parenthood</a> 
					<span>freelance life parenting work </span>
				</li>
			
				<li style="">
					<small>March 25, 2006</small>
					<a href="http://orderedlist.com/articles/ie7-and-clearing-floats">IE7 and Clearing Floats</a> 
					<span>clear floats fne </span>
				</li>
			
				<li style="">
					<small>March 12, 2006</small>
					<a href="http://orderedlist.com/articles/sxswi-2006-dan-gilbert-how-to-do-exactly-the-right-thing-at-all-possible-times">SXSWi 2006: Dan Gilbert - How To Do Exactly the Right Thing at All Possible Times</a> 
					<span>conference decisions sxsw </span>
				</li>
			
				<li style="">
					<small>March 12, 2006</small>
					<a href="http://orderedlist.com/articles/sxswi-2006-traditional-design-and-new-technology">SXSWi 2006: Traditional Design and New Technology</a> 
					<span>aesthetics conference design sxsw technology </span>
				</li>
			
				<li style="">
					<small>March 10, 2006</small>
					<a href="http://orderedlist.com/articles/sxswi-2006-almost-there">SXSWi 2006: Almost There</a> 
					<span>conference sxsw </span>
				</li>
			
				<li style="">
					<small>February 16, 2006</small>
					<a href="http://orderedlist.com/articles/howto-animated-live-search">HOWTO: Animated Live Search</a> 
					<span>ajax javascript search </span>
				</li>
			
				<li style="">
					<small>February 06, 2006</small>
					<a href="http://orderedlist.com/articles/leaving-solo">Leaving Solo</a> 
					<span>business clients freelance notre dame </span>
				</li>
			
				<li style="">
					<small>January 22, 2006</small>
					<a href="http://orderedlist.com/articles/tagged-for-four-things">Tagged for Four Things</a> 
					<span>meme </span>
				</li>
			
				<li style="">
					<small>January 16, 2006</small>
					<a href="http://orderedlist.com/articles/automotive-interface">Automotive Interface</a> 
					<span>design interface </span>
				</li>
			
				<li style="">
					<small>January 07, 2006</small>
					<a href="http://orderedlist.com/articles/another-feedburner-plugin-update">Another FeedBurner Plugin Update</a> 
					<span>feedburner plugin wordpress </span>
				</li>
			
				<li style="">
					<small>December 29, 2005</small>
					<a href="http://orderedlist.com/articles/wp-tiger-admin-2-0">WP Tiger Admin 2.0</a> 
					<span>launch plugin wordpress admin </span>
				</li>
			
				<li style="">
					<small>December 28, 2005</small>
					<a href="http://orderedlist.com/articles/wordpress-feedburner-plugin-for-2-0">WordPress FeedBurner Plugin for 2.0</a> 
					<span>feedburner plugin wordpress </span>
				</li>
			
				<li style="">
					<small>December 19, 2005</small>
					<a href="http://orderedlist.com/articles/sxswi-2006">SXSWi 2006</a> 
					<span>conference sxsw </span>
				</li>
			
				<li style="">
					<small>December 09, 2005</small>
					<a href="http://orderedlist.com/articles/statistical-ajax">Statistical AJAX</a> 
					<span>ajax javascript statistics </span>
				</li>
			
				<li style="">
					<small>December 02, 2005</small>
					<a href="http://orderedlist.com/articles/semantics-and-design">Semantics and Design</a> 
					<span>browsers css design semantics </span>
				</li>
			
				<li style="">
					<small>November 28, 2005</small>
					<a href="http://orderedlist.com/articles/download-counter-update">Download Counter Update</a> 
					<span>download counter mint pepper </span>
				</li>
			
				<li style="">
					<small>November 12, 2005</small>
					<a href="http://orderedlist.com/articles/best-buy-worst-experience">Best Buy, Worst Experience</a> 
					<span>ecommerce frustration ipod </span>
				</li>
			
				<li style="">
					<small>November 03, 2005</small>
					<a href="http://orderedlist.com/articles/a-realign-or-whatever">A Realign, or Whatever</a> 
					<span>design launch </span>
				</li>
			
				<li style="">
					<small>November 02, 2005</small>
					<a href="http://orderedlist.com/articles/stop-with-the-jargon">Stop with the Jargon</a> 
					<span>business clients jargon </span>
				</li>
			
				<li style="">
					<small>October 30, 2005</small>
					<a href="http://orderedlist.com/articles/10k-for-tiger-plugin">10K+ for Tiger Plugin</a> 
					<span>plugin wordpress admin </span>
				</li>
			
				<li style="">
					<small>October 24, 2005</small>
					<a href="http://orderedlist.com/articles/flock-and-integration">Flock and Integration</a> 
					<span>blogging del.icio.us flickr flock integration </span>
				</li>
			
				<li style="">
					<small>September 26, 2005</small>
					<a href="http://orderedlist.com/articles/only-the-beginning">Only the Beginning</a> 
					<span>dooced hoax </span>
				</li>
			
				<li style="">
					<small>September 22, 2005</small>
					<a href="http://orderedlist.com/articles/a-tip-of-the-hat">A Tip of the Hat</a> 
					<span>award macromedia notre dame </span>
				</li>
			
				<li style="">
					<small>September 21, 2005</small>
					<a href="http://orderedlist.com/articles/3-years">3 Years</a> 
					<span>anniversary wedding </span>
				</li>
			
				<li style="">
					<small>September 07, 2005</small>
					<a href="http://orderedlist.com/articles/pepper-download-counter">Pepper: Download Counter</a> 
					<span>download counter mint pepper </span>
				</li>
			
				<li style="">
					<small>September 05, 2005</small>
					<a href="http://orderedlist.com/articles/launch-notre-dame-college-of-arts-and-letters">Launch: Notre Dame College of Arts and Letters</a> 
					<span>launch notre dame </span>
				</li>
			
				<li style="">
					<small>August 02, 2005</small>
					<a href="http://orderedlist.com/articles/innovation-progress-and-imagination">Innovation, Progress, and Imagination</a> 
					<span>imagination innovation progress </span>
				</li>
			
				<li style="">
					<small>July 08, 2005</small>
					<a href="http://orderedlist.com/articles/this-thing-here">This Thing Here</a> 
					<span>email spam </span>
				</li>
			
				<li style="">
					<small>June 28, 2005</small>
					<a href="http://orderedlist.com/articles/ode">Ode</a> 
					<span>ode </span>
				</li>
			
				<li style="">
					<small>June 16, 2005</small>
					<a href="http://orderedlist.com/articles/web-developer-opening">Web  Developer Opening</a> 
					<span>employment notre dame </span>
				</li>
			
				<li style="">
					<small>June 09, 2005</small>
					<a href="http://orderedlist.com/articles/wordpress-administration-design-tiger">WordPress Administration Design: Tiger</a> 
					<span>launch plugin wordpress admin </span>
				</li>
			
				<li style="">
					<small>June 03, 2005</small>
					<a href="http://orderedlist.com/articles/sajax-coldfusion-post-request-method">SAJAX ColdFusion POST Request Method</a> 
					<span>ajax coldfusion sajax </span>
				</li>
			
				<li style="">
					<small>May 26, 2005</small>
					<a href="http://orderedlist.com/articles/an-underscore-solution">An Underscore Solution</a> 
					<span>google plugin underscore wordpress </span>
				</li>
			
				<li style="">
					<small>May 22, 2005</small>
					<a href="http://orderedlist.com/articles/google-and-the-underscore">Google and the Underscore</a> 
					<span>google underscore </span>
				</li>
			
				<li style="">
					<small>May 17, 2005</small>
					<a href="http://orderedlist.com/articles/the-hand-off">The Hand Off</a> 
					<span>meme music </span>
				</li>
			
				<li style="">
					<small>May 11, 2005</small>
					<a href="http://orderedlist.com/articles/wordpress-upgrade-and-rss">WordPress Upgrade and RSS</a> 
					<span>rss wordpress </span>
				</li>
			
				<li style="">
					<small>April 22, 2005</small>
					<a href="http://orderedlist.com/articles/wordpress-feedburner-plugin">WordPress FeedBurner Plugin</a> 
					<span>feedburner plugin wordpress </span>
				</li>
			
				<li style="">
					<small>April 11, 2005</small>
					<a href="http://orderedlist.com/articles/documentation-process">Documentation Process</a> 
					<span>documentation process </span>
				</li>
			
				<li style="">
					<small>April 06, 2005</small>
					<a href="http://orderedlist.com/articles/wordpress-underscore-plugin">WordPress Underscore Plugin</a> 
					<span>plugin underscore wordpress </span>
				</li>
			
				<li style="">
					<small>April 06, 2005</small>
					<a href="http://orderedlist.com/articles/cms-release">CMS Release</a> 
					<span>cms php </span>
				</li>
			
				<li style="">
					<small>March 23, 2005</small>
					<a href="http://orderedlist.com/articles/two-suggestions-for-itunes">Two Suggestions for iTunes</a> 
					<span>itunes music </span>
				</li>
			
				<li style="">
					<small>March 22, 2005</small>
					<a href="http://orderedlist.com/articles/call-for-good-music">Call for Good Music</a> 
					<span>music </span>
				</li>
			
				<li style="">
					<small>March 21, 2005</small>
					<a href="http://orderedlist.com/articles/a-change-of-platform">A Change of Platform</a> 
					<span>mac pc switch </span>
				</li>
			
				<li style="">
					<small>March 14, 2005</small>
					<a href="http://orderedlist.com/articles/point-counterpoint-the-wrapper-div">Point/Counterpoint: The Wrapper Div</a> 
					<span>css markup xhtml </span>
				</li>
			
				<li style="">
					<small>March 11, 2005</small>
					<a href="http://orderedlist.com/articles/ie7-list-as-requested">IE7 List, As Requested</a> 
					<span>browsers css ie7 pc xhtml </span>
				</li>
			
				<li style="">
					<small>March 08, 2005</small>
					<a href="http://orderedlist.com/articles/i-m-a-switcher">I'm a Switcher</a> 
					<span>cms switch wordpress </span>
				</li>
			
				<li style="">
					<small>March 08, 2005</small>
					<a href="http://orderedlist.com/articles/breadcrumb-trails">Breadcrumb Trails</a> 
					<span>php breadcrumb </span>
				</li>
			
				<li style="">
					<small>March 08, 2005</small>
					<a href="http://orderedlist.com/articles/output-code">Output Code</a> 
					<span>php </span>
				</li>
			
				<li style="">
					<small>March 08, 2005</small>
					<a href="http://orderedlist.com/articles/the-bend">Bending the Matrix</a> 
					<span>css xhtml </span>
				</li>
			
				<li style="">
					<small>February 22, 2005</small>
					<a href="http://orderedlist.com/articles/children-s-resource-group">Children's Resource Group</a> 
					<span>css launch xhtml </span>
				</li>
			
				<li style="">
					<small>February 15, 2005</small>
					<a href="http://orderedlist.com/articles/do-you-freelance">Do You Freelance?</a> 
					<span>freelance </span>
				</li>
			
				<li style="">
					<small>February 09, 2005</small>
					<a href="http://orderedlist.com/articles/project-management-software">Project Management Software</a> 
					<span>notre dame project management software </span>
				</li>
			
				<li style="">
					<small>January 26, 2005</small>
					<a href="http://orderedlist.com/articles/i-can-t-stand-it">I Can't Stand It!</a> 
					<span>frustration ignorance </span>
				</li>
			
				<li style="">
					<small>January 18, 2005</small>
					<a href="http://orderedlist.com/articles/shiver-me-timbers">Shiver Me Timbers!</a> 
					<span>ignorance pirated </span>
				</li>
			
				<li style="">
					<small>January 13, 2005</small>
					<a href="http://orderedlist.com/articles/ndwg-v1-0">NDWG V1.0</a> 
					<span>css launch notre dame xhtml </span>
				</li>
			
				<li style="">
					<small>January 05, 2005</small>
					<a href="http://orderedlist.com/articles/dealing-with-ie5-mac">Dealing with IE5/Mac</a> 
					<span>browsers frustration ie5 mac </span>
				</li>
			
				<li style="">
					<small>December 22, 2004</small>
					<a href="http://orderedlist.com/articles/to-all">To All</a> 
					<span>merry christmas </span>
				</li>
			
				<li style="">
					<small>December 06, 2004</small>
					<a href="http://orderedlist.com/articles/a-natural-progression">A Natural Progression</a> 
					<span>css web standards xhtml </span>
				</li>
			
				<li style="">
					<small>November 23, 2004</small>
					<a href="http://orderedlist.com/articles/finishing-the-basement">Finishing the Basement</a> 
					<span>basement frustration office </span>
				</li>
			
				<li style="">
					<small>November 17, 2004</small>
					<a href="http://orderedlist.com/articles/where-do-you-live">Where Do You Live?</a> 
					<span>question </span>
				</li>
			
				<li style="">
					<small>November 04, 2004</small>
					<a href="http://orderedlist.com/articles/the-recursion-project">The Recursion Project</a> 
					<span>meme recursion project </span>
				</li>
			
				<li style="">
					<small>October 26, 2004</small>
					<a href="http://orderedlist.com/articles/clearing-floats-the-fne-method">Clearing Floats: The FnE Method</a> 
					<span>clear floats css markup xhtml </span>
				</li>
			
				<li style="">
					<small>October 22, 2004</small>
					<a href="http://orderedlist.com/articles/ordered-zen">Ordered Zen</a> 
					<span>css web standards zen garden </span>
				</li>
			
				<li style="">
					<small>October 09, 2004</small>
					<a href="http://orderedlist.com/articles/comment-rss">Comment RSS</a> 
					<span>cms comments rss </span>
				</li>
			
				<li style="">
					<small>September 30, 2004</small>
					<a href="http://orderedlist.com/articles/wordpress-code">Wordpress Code</a> 
					<span>markup php wordpress </span>
				</li>
			
				<li style="">
					<small>September 28, 2004</small>
					<a href="http://orderedlist.com/articles/writing-lean-css">Writing Lean CSS</a> 
					<span>css markup web standards </span>
				</li>
			
				<li style="">
					<small>September 16, 2004</small>
					<a href="http://orderedlist.com/articles/v3-0-cmyk">v3.0 CMYK</a> 
					<span>cms launch </span>
				</li>
			
				<li style="">
					<small>September 08, 2004</small>
					<a href="http://orderedlist.com/articles/a-clean-slate">A Clean Slate</a> 
					<span>employment notre dame switch </span>
				</li>
			
				<li style="">
					<small>August 30, 2004</small>
					<a href="http://orderedlist.com/articles/working-for-the-irish">Working for the Irish</a> 
					<span>employment notre dame switch </span>
				</li>
			
				<li style="">
					<small>August 27, 2004</small>
					<a href="http://orderedlist.com/articles/excuse-the-mess">Excuse the Mess</a> 
					<span></span>
				</li>
			
				<li style="">
					<small>August 26, 2004</small>
					<a href="http://orderedlist.com/articles/a-little-help">A Little Help</a> 
					<span>css markup web standards </span>
				</li>
			
				<li style="">
					<small>August 23, 2004</small>
					<a href="http://orderedlist.com/articles/design-revisions">Design Revisions</a> 
					<span>design launch </span>
				</li>
			
				<li style="">
					<small>August 06, 2004</small>
					<a href="http://orderedlist.com/articles/aloha">Aloha</a> 
					<span>hawaii vacation </span>
				</li>
			
				<li style="">
					<small>August 02, 2004</small>
					<a href="http://orderedlist.com/articles/ftos-round-2">FTOS Round 2</a> 
					<span>css php question </span>
				</li>
			
				<li style="">
					<small>July 16, 2004</small>
					<a href="http://orderedlist.com/articles/i-love-storms">I Love Storms</a> 
					<span>photos </span>
				</li>
			
				<li style="">
					<small>July 12, 2004</small>
					<a href="http://orderedlist.com/articles/one-gig">One Gig?</a> 
					<span>gmail google </span>
				</li>
			
				<li style="">
					<small>July 12, 2004</small>
					<a href="http://orderedlist.com/articles/ad-tech-2004-chicago">AD:TECH 2004 Chicago</a> 
					<span>chicago photos </span>
				</li>
			
				<li style="">
					<small>July 09, 2004</small>
					<a href="http://orderedlist.com/articles/thanks-and-response">Thanks and Response</a> 
					<span>cms innovation rss </span>
				</li>
			
				<li style="">
					<small>July 06, 2004</small>
					<a href="http://orderedlist.com/articles/orderedlist-com-v2-0">OrderedList.com v2.0</a> 
					<span>cms design launch </span>
				</li>
			
				<li style="">
					<small>June 28, 2004</small>
					<a href="http://orderedlist.com/articles/skuzzy-standards">Skuzzy Standards</a> 
					<span>web standards </span>
				</li>
			
				<li style="">
					<small>June 20, 2004</small>
					<a href="http://orderedlist.com/articles/simple-list">Simple List</a> 
					<span>css web standards xhtml </span>
				</li>
			
				<li style="">
					<small>June 18, 2004</small>
					<a href="http://orderedlist.com/articles/anger-management">Anger Management</a> 
					<span>business frustration </span>
				</li>
			
				<li style="">
					<small>June 10, 2004</small>
					<a href="http://orderedlist.com/articles/a-practical-start-to-web-standards">A Practical Start to Web Standards</a> 
					<span>business innovation web standards </span>
				</li>
			
				<li style="">
					<small>June 07, 2004</small>
					<a href="http://orderedlist.com/articles/irony-and-progress">Irony and Progress</a> 
					<span>progress </span>
				</li>
			
				<li style="">
					<small>June 02, 2004</small>
					<a href="http://orderedlist.com/articles/the-familiar-chirping-of-crickets">The Familiar Chirping of Crickets</a> 
					<span>blogging rss </span>
				</li>
			
				<li style="">
					<small>May 23, 2004</small>
					<a href="http://orderedlist.com/articles/results-of-ftos-round-1">Results of FTOS Round 1</a> 
					<span>mysql </span>
				</li>
			
				<li style="">
					<small>May 20, 2004</small>
					<a href="http://orderedlist.com/articles/figure-this-out-steve">Figure This Out, Steve</a> 
					<span>question </span>
				</li>
			
				<li style="">
					<small>May 19, 2004</small>
					<a href="http://orderedlist.com/articles/increasing-developer-productivity">Increasing Developer Productivity</a> 
					<span>business css php </span>
				</li>
			
				<li style="">
					<small>May 18, 2004</small>
					<a href="http://orderedlist.com/articles/one-down">One Down</a> 
					<span>browsers css ie5 mac </span>
				</li>
			
				<li style="">
					<small>May 17, 2004</small>
					<a href="http://orderedlist.com/articles/content-management-your-way">Content Management Your Way</a> 
					<span>cms php </span>
				</li>
			
				<li style="">
					<small>May 14, 2004</small>
					<a href="http://orderedlist.com/articles/we-have-liftoff">We Have Liftoff</a> 
					<span>cms design launch </span>
				</li>
			
				<li style="">
					<small>May 13, 2004</small>
					<a href="http://orderedlist.com/articles/the-great-divide">The Great Divide</a> 
					<span>css frustration markup </span>
				</li>
			
				<li style="">
					<small>May 09, 2004</small>
					<a href="http://orderedlist.com/articles/what-s-in-a-name">What's in a Name?</a> 
					<span>markup naming conventions web standards </span>
				</li>
			
				<li style="" class="omega">
					<small>May 04, 2004</small>
					<a href="http://orderedlist.com/articles/just-how-important-is-validation">Just How Important is Validation?</a> 
					<span>css validation xhtml </span>
				</li>
			
		</ul>
	</div>
	<div id="feeds" class="secondary">
		<h3>Have it Delivered</h3>
		<ul>
			<li><a href="http://orderedlist.com/feed/">Ordered List Articles Feed</a></li>
			<li><a href="http://addictedtonew.com/feed/">Addicted to New Feed</a></li>
			<li><a href="http://feeds.feedburner.com/railstips/">Rails Tips Feed</a></li>
		</ul>
		<div id="advertisement">
			<p><a href="http://harmonyapp.com/"><img src="teaser_files/harmony_ad.jpg" alt="Find out more about Harmony"></a></p>
		</div>
	</div>
</div>
		</div>
		<div id="footer">
			<p id="copyright">Copyright © 2004-2009 Ordered List Inc. ISSN# 1555-7928. All Rights Reserved.</p>
			<p id="karma">Don't steal our stuff. It's bad karma.</p>
		</div>
	</div>
</body></html>
